html, body, #container, .fill {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.viewer, #map {
    position:absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

label {
  margin-bottom: 0px;
  margin: 0px;
}

#mapstore-drawermenu .glyphicon {
    vertical-align: middle;
    font-size: 18px;
    top: 0px;
}

span.glyphicon.glyphicon-globe:before {
    font-size: 27px;
}

span.glyphicon.glyphicon-1-close:before {
    font-size: 27px;
}

.panel-body {
  padding: 2px;
}
.panel-group {
  margin-bottom: 5px;
  margin-top: 5px;
}

#identifyBar .mapToolbar {
    top: auto !important;
}

#navigationBar .mapToolbar {
    top: auto !important;
}

.propertiesTitle {
    font-style: italic;
}

#brugis-besteffort {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  vertical-align: text-top;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px ) {
	#mapstore-navbar .navbar-dx .MapSearchBar {
		position: fixed;
		left: 1px;
		right: 1px;
		top: 59px;
		width: auto;
	}
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1) !important;
}

.carousel-control.right {
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1) !important;
}