#brugis-area img {
    margin-top: -6px;
    margin-left: -6px;
}

#brugis-length img {
    margin-top: -5px;
    margin-left: -5px;
}

#brugisSurvey-btn img {
    margin-top: -6px;
    margin-left: -6px;
}

#identifyBar-container button img {
    margin-top: -7px;
    margin-left: -5px;
}

#StreetViewBar-container button img {
    margin-top: -5px;
    margin-left: -6px;
}

.mapstore-toc-head .glyphicon-wrench::before {
    vertical-align: super;
    font-size: 16px;
}

.mapstore-toc-head .glyphicon-trash::before {
    vertical-align: super;
    font-size: 16px;
}

.mapstore-toc-head .glyphicon-download::before {
    vertical-align: super;
    font-size: 16px;
}
