/**
 * Framework Brugis Info page
 * ------------------------------
 */

#brugisInfoNews h2 {
  font-size:36px;
  margin-left:20px;
}

#brugisInfoNews h4 {
  font-size:16px;
  margin-left:50px;
}

#brugisInfoNews p {
  font-size:20px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

#brugisInfoServices h2 {
  font-size:36px;
  margin-left:20px;
}

#brugisInfoServices p {
  font-size:20px;
  line-height:1em;
}

#brugisInfoContact h2 {
  font-size:36px;
  margin-left:20px;
}

.carousel-control.left {
  max-width: 150px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1) !important;
}

.carousel-control.right {
  max-width: 150px;
  left: auto;
  right: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000', GradientType=1) !important;
}

.carousel-indicators li {
  border: 1px solid #909090;
  background-color: #909090;
}

.glyphicon-chevron-right:before {
  color: #909090;
  //columns-webkit-text-fill-color: #909090;
}

.glyphicon-chevron-left:before {
  color: #909090;
  //columns-webkit-text-fill-color: #909090;
}
#brugisInfoNews .container-fluid {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#brugisInfoServices .container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#brugisInfoContact .container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

#shadowBox {
  //display: block;
  width: -moz-available;
  width: -webkit-fill-available;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  //height: 57px;
  position: absolute;
}

.d-flex {
  //display: block;
  z-index: 99;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 52px;
  position: absolute;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.24);
}

.d-flex div {
  //padding: 1rem;
  padding-top: 1.2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
  text-align: center;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 20px; /* Increase font size */

}
/*
.d-flex div:hover {
  background-color: #555;
}
*/
.d-flex #bibIllBeBack {
  background-color: #345d6f; /* Set a background color */
  flex-grow: 1;
}

.d-flex #bibNews {
  background-color: #4f8da8; /* Set a background color */
  flex-grow: 6;
}

.d-flex #bibWS {
  background-color: #4f8da8; /* Set a background color */
  flex-grow: 6;
}

.d-flex #bibContact {
  background-color: #4f8da8; /* Set a background color */
  flex-grow: 6;
}

.d-flex #bibTop {
  background-color: #a2c6d7; /* Set a background color */
  flex-grow: 1;
}

.d-flex #bibIllBeBack:hover {
  background-color: #8d8d8d;
}

.d-flex #bibNews:hover {
  background-color: #a8a8a8;
}

.d-flex #bibWS:hover {
  background-color: #a8a8a8;
}

.d-flex #bibContact:hover {
  background-color: #a8a8a8;

}
.d-flex #bibTop:hover {
  background-color: #bfbfbf;
}
