
@ms2-color-background: #ffffff;
@ms2-color-text-primary: #ffffff;
@ms2-color-text: #333333;

@ms2-color-disabled: #eeeeee;
@ms2-color-text-disabled: #aaaaaa;



//Originals //BUP
@ms2-color-primary: #345d6f;
@ms2-color-success: #4f8da8;
@ms2-color-warning: #4f8da8;
@ms2-color-danger: #4f8da8;
@ms2-color-info: #a2c6d7;

//green alternate
// @ms2-color-primary: #838e53;
// @ms2-color-success: #a8b27c;
// @ms2-color-warning: #a8b27c;
// @ms2-color-danger: #a8b27c;
// @ms2-color-info: #c8ceac;

@ms2-color-primary-hover: lighten(@ms2-color-primary-success, 50%);
@ms2-color-primary-light: lighten(@ms2-color-primary-hover, 50%);

@ms2-color-shade: #bbbbbb;
@ms2-color-shade-darker: darken(@ms2-color-shade, 10%);
@ms2-color-shade-dark: darken(@ms2-color-shade, 5%);
@ms2-color-shade-light: lighten(@ms2-color-shade, 5%);
@ms2-color-shade-lighter: lighten(@ms2-color-shade, 10%);
